@model LoginViewModel

<div class="login-page">
   

    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
           

            <div class="wrapperB">
                <div class="background ">
                    <div class="left">
                        <h2 class="back-header">Don't have an account yet?</h2>
                        <p class="back-p">In 3TL we are creating shipping solutions. You can sign up eaither as a contractor and help companies ship their orders or as a customer if you have need to have a goods shipped. </p>
                        <button class="btn-lg btn-danger signup-but">SIGN UP</button>
                    </div>
                    <div class="right">
                        <h2 class="back-header">Do you have an account?</h2>
                        <p class="back-p">Then what are you waiting for? Sign-in and post your orders or apply for posted orders.</p>
                        <button class="btn-lg btn-danger login-but">LOGIN</button>
                    </div>
                </div>
                <div class="form-container">
                    <div class="sign-up">
                        <h2 class="form-header text-center">SIGN UP</h2>

                        <p class="signupText">
                            3TL is a publishing platform that helps to connect companies offering shipping services. Sign up as our customer and place your orders or as customer who wish to accept them.
                            Do not hesitate to call and ask more questions
                        </p>
                        <p class="telNo">
                            <span class=" glyphicon glyphicon-earphone"> </span>  +45 65 69 68 58</p>


                    </div>
                   


                    <div class="login hide">
                        <h2 class="form-header text-center">LOGIN</h2>
                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="input-group ">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input asp-for="Username" autofocus class="form-control" placeholder="email" />
                            </div>
                            <div class="input-group ">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off" />
                            </div>
                            @if (Model.AllowRememberLogin)
                            {
                                <div class="form-group login-remember">
                                    <label asp-for="RememberLogin">
                                        <input asp-for="RememberLogin">
                                        <strong>Remember My Login</strong>
                                    </label>
                                </div>
                            }


                                <button name="button" value="login" class="btn btn-outline btn-danger btn-block log ">Log in</button>
                        </form>
                        



                        <a class="forgot" href="#">Forgot password</a>

                    </div>
                </div>
            </div>

        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-md-6 col-sm-6 external-providers">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">External Login</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li>
                                    <a class="btn btn-default"
                                       asp-controller="External"
                                       asp-action="Challenge"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this client.
            </div>
        }
    </div>
</div>